.header-container {
  /* min-width: 1100px;
  max-width: 2000px; */
  height: 50px;
  width: 99.2vw;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #1f633e;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
