table {
  width: 100%;
}

tr {
  padding: 10px;
}

th{
    color:#9d9c9d;
}

td,
th {
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding: 20px 10px;
}

td:first-child{
    display: flex;
  flex-direction: row;
  align-items: center;  
}

td:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
